html, body {
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #373636;
  margin: 0 100px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  margin-bottom: 20px;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__photo {
  height: 400px;
  margin-right: 50px;
}

.header__title {
  font-size: 50px;
}

.contact__title {
  font-weight: 600;
}

.navigation-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px 0;
}

.navigation__item {
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 9px;
}

.navigation__item:hover {
  cursor: pointer;
  text-shadow:3px 4px 8px #868585;
}

.section {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 2px solid #509a5ab7;
  z-index: 1;
}

.transparent-anchor {
  position: absolute;
  height: 70px;
  top: -70px;
}

.section__header {
  color: #747674;
}

.code {
  background-color: #eae9e9;
  border-radius: 3px;
}

.footer {
  height: 60px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__logo {
  height: 30px;
}